
.div-top {
	height: 125px;
	width: 100%;
	position: absolute;top: 0px;left: 0px; bottom: 0px;


}

.leftFrame {
	width:202px;
	height: 100%;
	position: absolute;top: 125px;left: 0px; bottom: 0px;
	border: 1px solid green;
}

.rightFrame {
	width: auto;
	height: 100%;
	position: absolute;top: 125px;left: 202px; bottom: 0px; right:0px;
	border: 1px solid blue;
	background: #ffffff;

}

.setDiv {
	width: 100%;
	height: 100%;
	border-width: 0px;
}