<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>陕西杰信商务综合管理平台</title>
    <link rel="stylesheet" rev="stylesheet" type="text/css" th:href="@{/css/faminc.css}" href="../../static/css/faminc.css" />
    <script src="../static/js/jquery/jquery-3.4.1.js" type="text/javascript"></script>
</head>
<body>
<div name="top_frame" class="div-top" th:replace="title :: thml"></div>

<div name="leftFrame" class="leftFrame" ></div>

<div name="main" id="tag_main" class="rightFrame" ></div>
</body>
</html>